:root {
  --white: #fff;
  --black: #150f0b;
  --accent: #a5cdfd;
  --accent-darker: #5892d8;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: IBM Plex Sans, sans-serif;
  font-size: 20px;
  line-height: 120%;
}

h1 {
  letter-spacing: -.05em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 104px;
  font-weight: 600;
  line-height: 85%;
}

h2 {
  letter-spacing: -.05em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 64px;
  font-weight: 600;
  line-height: 87%;
}

h3 {
  letter-spacing: -.04em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
}

h4 {
  letter-spacing: -.05em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

h5 {
  letter-spacing: -.03em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 133%;
}

p {
  letter-spacing: -.02em;
  margin-bottom: 10px;
}

a {
  color: var(--black);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

blockquote {
  text-transform: uppercase;
  border-left: 0 #e2e2e2;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 10px 20px 10px 0;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 52px;
  font-weight: 500;
  line-height: 110%;
}

.big-text {
  font-size: 38px;
  font-weight: 300;
  line-height: 130%;
}

.mega-h1 {
  letter-spacing: -.05em;
  text-transform: uppercase;
  font-size: 160px;
  font-weight: 600;
  line-height: 90%;
}

.flex-cta-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-cta-center.mg-top-24 {
  margin-top: 24px;
}

.limit-subtitle-template {
  max-width: 900px;
}

.title-wrap-template {
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
}

.cta-white {
  background-color: var(--white);
  color: #000;
  letter-spacing: -.02em;
  border: 1px solid #fffdf5;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  font-weight: 600;
  transition: background-color .2s;
  display: flex;
}

.cta-white:hover {
  background-color: #fffdf5e6;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section.hero-templatate {
  padding-top: 180px;
}

.section.template-section {
  padding-top: 120px;
  padding-bottom: 160px;
}

.section.hero {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 104px;
  padding-bottom: 60px;
  position: relative;
}

.section.experience {
  background-color: var(--black);
  color: var(--white);
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
}

.section.carousel-section {
  padding-top: 160px;
  padding-bottom: 160px;
  overflow: hidden;
}

.section.video-cta {
  color: var(--white);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 226px;
  padding-bottom: 238px;
  display: flex;
  position: relative;
}

.section.services-section {
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
}

.section.clients-section {
  background-color: var(--black);
  color: var(--white);
  padding-top: 160px;
  padding-bottom: 32px;
  position: relative;
}

.section.hero-templatate {
  background-color: #fffdf514;
  padding-top: 180px;
}

.section.legal-section {
  padding-top: 180px;
  padding-bottom: 160px;
}

.section.privacy-hero {
  padding-top: 64px;
  padding-bottom: 120px;
}

.section.faq-hero {
  padding-top: 48px;
  padding-bottom: 120px;
  position: relative;
}

.section.contact-hero {
  padding-top: 0;
  padding-bottom: 130px;
}

.section.blog-hero {
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 160px;
  display: flex;
  position: relative;
}

.section.post-hero {
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.section.related-articles {
  padding-top: 20px;
  padding-bottom: 120px;
}

.section.project-single-hero {
  color: var(--white);
  background-image: url('../images/Main-Image.webp');
  background-position: 50%;
  background-size: cover;
  padding-top: 240px;
  position: relative;
}

.section.description-post {
  padding-top: 120px;
}

.section.project-image-section {
  padding-top: 0;
  padding-bottom: 0;
}

.section.post-part-section {
  overflow: hidden;
}

.section.halves-section {
  padding-top: 0;
  padding-bottom: 0;
}

.section.project-next {
  color: var(--white);
  padding-top: 0;
  padding-bottom: 0;
}

.section.about-hero {
  background-color: var(--black);
  color: var(--white);
  padding-top: 160px;
  padding-bottom: 100px;
  position: relative;
}

.section.team-section {
  background-color: var(--white);
  color: var(--black);
  padding-top: 160px;
  padding-bottom: 160px;
}

.section.projects-section {
  background-color: #ebeff3;
  padding-top: 160px;
  padding-bottom: 160px;
}

.section.faq-section {
  padding-top: 115px;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
}

.section.tradition-section {
  color: var(--white);
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
}

.section.numbers-section {
  padding-top: 100px;
  padding-bottom: 68px;
  position: relative;
}

.section.case-study-hero {
  padding-top: 160px;
  padding-bottom: 200px;
  position: relative;
  overflow: hidden;
}

.wrap-template-ui {
  grid-row-gap: 12px;
  background-color: #0000000d;
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.tile-template-navigation {
  grid-row-gap: 16px;
  background-color: #fffdf51a;
  border: 2px solid #000;
  border-radius: 32px;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
  position: sticky;
  top: 120px;
  box-shadow: 0 2px 30px #8383830d;
}

.right-column-template-details {
  grid-row-gap: 32px;
  flex-direction: column;
  padding: 0 0 0 24px;
  display: flex;
}

.link-template-navigation {
  color: #fffdf599;
  font-size: 24px;
  font-weight: 400;
  line-height: 135%;
  text-decoration: none;
}

.link-template-navigation.w--current {
  color: #fffdf5;
  font-weight: 500;
}

.cta-main {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #fffdf5;
  letter-spacing: -.02em;
  background-color: #000;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 26px;
  font-weight: 600;
  line-height: 133%;
  display: flex;
  box-shadow: inset 0 1px #ffffff40, inset 0 0 1px #00000080;
}

.cta-main.cta-white {
  background-color: var(--white);
  color: var(--black);
}

.cta-main.cta-blue {
  padding-left: 26px;
}

.divider-typography {
  background-color: #ffffff1a;
  width: 100%;
  height: 1px;
}

.grid-buttons {
  grid-template-rows: auto;
}

.color-master {
  grid-row-gap: 12px;
  flex-direction: column;
  display: flex;
}

.grid-colors {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.left-column-template-details {
  padding: 0;
}

.columns-template-details {
  display: flex;
}

.template-h2 {
  margin-top: 0;
}

.link-template {
  color: var(--white);
  text-decoration: underline;
}

.tile-template-details {
  grid-row-gap: 16px;
  background-color: #fffdf51a;
  border: 2px solid #000;
  border-radius: 32px;
  flex-direction: column;
  padding: 40px;
  display: flex;
  box-shadow: 0 2px 30px #6666660a;
}

.color {
  background-color: #faebe3;
  border: 1px solid #3e3b364d;
  border-radius: 8px;
  padding-top: 100%;
}

.color.color-two {
  background-color: #fffdf5;
}

.color.color-one {
  background-color: #000;
}

.body-template {
  color: var(--white);
  background-color: #000;
}

.label {
  letter-spacing: -.03em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

.label.accent {
  color: var(--accent);
}

.label.accent-darker {
  color: var(--accent-darker);
}

.label.white {
  color: var(--white);
}

.body-1 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 133%;
}

.body-2 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
}

.button {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  line-height: 133%;
  text-decoration: none;
}

.button.white {
  color: var(--white);
}

.cta-blue {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--accent);
  color: var(--black);
  letter-spacing: -.02em;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 600;
  line-height: 133%;
  display: flex;
  box-shadow: 0 1px 1px #00000080, inset 0 0 0 1px #ffffff40;
}

.navbar {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  background-color: #0000;
  background-image: linear-gradient(#fff, #fff0), linear-gradient(#fff, #ffffff1a);
  padding-top: 33px;
  padding-bottom: 33px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.navbar.navbar-white {
  color: var(--white);
  background-image: none;
  position: fixed;
}

.navbar-wrap {
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.brand-link-navbar {
  height: 30px;
}

.brand-navbar {
  border-radius: 0;
  max-width: none;
  height: 100%;
}

.navlink {
  padding: 0;
}

.navlink.white {
  color: var(--white);
}

.nav-menu {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: center;
}

.cta-secondary {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 600;
  line-height: 133%;
  text-decoration: none;
}

.cta-secondary.mobile {
  display: none;
}

.underline-cta {
  z-index: -1;
  background-color: #a5cdfd;
  width: 100%;
  height: 8px;
  margin-top: -8px;
  position: relative;
}

.underline-cta.darker {
  background-color: var(--accent-darker);
}

.nav-link-wrap {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  display: flex;
}

.footer {
  background-color: var(--black);
  color: var(--white);
  padding-top: 64px;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.footer-image-wrap {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  display: flex;
  position: relative;
}

.footer-image {
  object-fit: cover;
  border-radius: 16px;
  flex: none;
  width: 427px;
  height: 312px;
  overflow: hidden;
}

.image-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer-container {
  z-index: 1;
  position: relative;
}

.footer-grid {
  z-index: 3;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto 320px;
  margin-top: 64px;
  margin-bottom: 86px;
  position: relative;
}

.footer-links {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-heading-3 {
  letter-spacing: -.04em;
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
}

.footer-address-wrap {
  width: 150px;
}

.footer-socials {
  flex-direction: column;
  display: flex;
}

.footer-social-link {
  opacity: .8;
  color: var(--white);
  text-decoration: none;
}

.footer-newsletter {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  display: flex;
}

.arrow-button {
  color: var(--accent);
  width: 24px;
  height: 24px;
}

.newsletter-submit {
  z-index: 1;
  background-color: #0000;
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  inset: 0%;
}

.submit-wrap {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.field-newsletter {
  color: var(--white);
  background-color: #0000;
  border: 1px #000;
  border-bottom: 1px solid #bcc7ca;
  margin-bottom: 0;
  padding: 0 0 14px;
  font-size: 20px;
}

.field-newsletter::placeholder {
  color: var(--white);
}

.newsletter-wrap {
  align-items: center;
  display: flex;
  position: relative;
}

.footer-credits {
  z-index: 1;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-between;
  margin-top: 24px;
  display: flex;
  position: relative;
}

.footer-brand-big.w--current {
  z-index: 1;
}

.footer-bg-right {
  width: 533px;
  position: absolute;
  inset: 0 0% 0 auto;
}

.footer-bg-left {
  width: 440px;
  position: absolute;
  inset: auto auto 0% 0%;
}

.footer-link {
  color: var(--white);
}

.title-wrap {
  z-index: 2;
  position: relative;
}

.limit-800 {
  max-width: 800px;
}

.limit-445 {
  max-width: 450px;
}

.hero-wrap {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  display: flex;
}

.hero-info-wrap {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  display: flex;
}

.hero-text {
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 133%;
}

.space-48 {
  height: 48px;
}

.success-message {
  background-color: #0000;
  border-radius: 16px;
}

.error-message {
  background-color: #eb8282;
}

.services-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: space-between;
  display: flex;
}

.limit-540 {
  max-width: 540px;
}

.services-grid {
  grid-column-gap: 32px;
  grid-row-gap: 64px;
}

.service {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  max-width: 312px;
  display: flex;
}

.service-icon-wrap {
  background-color: var(--accent);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  display: flex;
}

.icon-service {
  width: 32px;
  height: 32px;
}

.text-heading-5 {
  letter-spacing: -.03em;
  font-size: 24px;
  font-weight: 600;
  line-height: 133%;
}

.opacity-80 {
  opacity: .8;
}

.opacity-60 {
  opacity: .6;
}

.space-12 {
  height: 12px;
}

.marquee-wrap {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  align-items: center;
  display: flex;
}

.marquee-block {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex: none;
  align-items: center;
  display: flex;
}

.text-heading-1 {
  letter-spacing: -.05em;
  text-transform: uppercase;
  font-size: 104px;
  font-weight: 600;
  line-height: 88%;
}

.text-heading-1.accent {
  color: var(--accent);
}

.marquee-divider {
  background-color: var(--accent);
  flex: none;
  width: 80px;
  height: 8px;
}

.section-moving-text {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}

.space-24 {
  height: 24px;
}

.limit-660 {
  max-width: 660px;
}

.space-64 {
  height: 64px;
}

.experience-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.experience-wrap {
  border-radius: 16px;
  height: 520px;
  overflow: hidden;
}

.experience-block {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.space-8 {
  height: 8px;
}

.limit-550 {
  max-width: 550px;
}

.center-wrap {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.carousel-wrap {
  margin-top: -50px;
}

.carousel-block {
  flex-direction: column;
  width: 422px;
}

.carousel-image-wrap {
  border-radius: 16px;
  height: 520px;
  overflow: hidden;
}

.space-40 {
  height: 40px;
}

.text-heading-4 {
  letter-spacing: -.05em;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

.space-16 {
  height: 16px;
}

.carousel {
  background-color: #0000;
  height: 100%;
}

.carousel-icon {
  width: 42px;
  height: 42px;
}

.carousel-button {
  color: var(--accent);
  width: 42px;
  height: 42px;
}

.carousel-button.prev-button {
  margin-left: 25%;
}

.carousel-button.next-button {
  margin-right: 25%;
}

.slide {
  margin-right: 160px;
}

.mask {
  width: 422px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.background-video {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.master-services {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: space-between;
  display: flex;
}

.sticky-wrap {
  z-index: 1;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  display: flex;
  position: relative;
}

.service-card {
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  max-width: 644px;
  padding: 64px 48px 48px;
  display: flex;
  position: sticky;
  top: 100px;
  box-shadow: 0 1px 1px #00000080, 0 0 1px 1px #ffffff40;
}

.limit-440 {
  max-width: 440px;
}

.service-bg {
  height: 100%;
  position: absolute;
  inset: 0 0% 0 auto;
}

.sticky-block {
  position: sticky;
  top: 100px;
}

.clients-grid {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 24px;
  display: grid;
}

.text-heading-2 {
  letter-spacing: -.05em;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 600;
  line-height: 88%;
}

.limit-670 {
  max-width: 670px;
}

.space-32 {
  height: 32px;
}

.client-role {
  font-weight: 500;
}

.opacity-90 {
  opacity: .9;
}

.client-image-wrap {
  z-index: 26;
  border-radius: 16px;
  width: 460px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.master-moving-logos {
  flex-direction: column;
  overflow: hidden;
}

.move-moving-logo {
  grid-column-gap: 180px;
  align-items: center;
  display: flex;
}

.single-moving-logo {
  grid-column-gap: 180px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.logo-moving-logo {
  object-fit: contain;
  min-height: 32px;
}

.logo-moving-logo.bigger-logo {
  min-height: 42px;
}

.space-112 {
  height: 112px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  padding-top: 140px;
  padding-bottom: 140px;
  display: flex;
}

.utility-page-wrap._404 {
  color: var(--white);
  background-image: url('../images/About-Bg.webp');
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 90%;
  max-width: 530px;
  display: flex;
}

.utility-page-content._404-content {
  z-index: 1;
  align-items: center;
  position: relative;
}

._404-heading {
  font-size: 320px;
}

.space-20 {
  height: 20px;
}

._404-bg {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0%;
}

.tile-changelog {
  background-color: #fffdf51a;
  border: 2px solid #000;
  border-radius: 32px;
  width: 100%;
  max-width: 562px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 32px;
}

.container-small {
  width: 100%;
  max-width: 936px;
  padding-left: 24px;
  padding-right: 24px;
}

.grid-halves {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
}

.list-item {
  font-size: 24px;
  font-weight: 600;
  list-style-type: decimal;
}

.policy-list {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-direction: column;
  display: flex;
}

.space-44 {
  height: 44px;
}

.faq-links {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
}

.space-80 {
  height: 80px;
}

.spacer-faq {
  background-color: var(--black);
  opacity: .1;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.faq-link-wrap {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  display: flex;
  position: sticky;
  top: 140px;
}

.faq-link {
  color: var(--black);
}

.faq-link.w--current {
  color: var(--accent-darker);
}

.contact-wrap {
  max-width: 540px;
  padding-top: 64px;
}

.contact-info {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border-top: 1px solid #150f0b1a;
  border-bottom: 1px solid #150f0b1a;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.contact-icon {
  color: var(--accent-darker);
  width: 24px;
  height: 24px;
}

.contact-address {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  display: flex;
}

.form-field {
  color: #150f0b;
  background-color: #ebeff3;
  border: 1px #000;
  border-radius: 16px;
  height: 56px;
  margin-bottom: 0;
  padding: 14px 20px;
  font-size: 20px;
}

.form-field:focus {
  border: 1px solid #a5cdfd;
}

.form-field::placeholder {
  color: #150f0b80;
}

.form-field.text-area {
  height: 247px;
}

.form-field.mg-bottom-16 {
  margin-bottom: 16px;
}

.form {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.field-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: flex;
}

.success-form {
  background-color: var(--accent);
  border-radius: 16px;
}

.map {
  height: 100%;
}

.contact-map {
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.form-block {
  margin-bottom: 0;
}

.grid-blogs {
  grid-column-gap: 32px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.blog-block {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  display: flex;
}

.blog-thumbnail {
  border-radius: 16px;
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.limit-1115 {
  max-width: 1115px;
}

.post-image-wrap {
  border-radius: 16px;
  height: 552px;
  overflow: hidden;
}

.post-body-wrap {
  justify-content: center;
}

.post-body p {
  opacity: .8;
  margin-bottom: 40px;
}

.post-body h3, .post-body h4 {
  text-transform: none;
  margin-bottom: 40px;
}

.post-body h1, .post-body h2 {
  margin-bottom: 40px;
}

.post-body blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider-articles {
  background-color: #150f0b1a;
  width: 100%;
  height: 3px;
  margin-bottom: 96px;
}

.article-wrap {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.faq-bg {
  width: 1200px;
  position: absolute;
  top: -120px;
  left: 0%;
  right: auto;
}

.blog-hero-bg {
  width: 1440px;
  position: absolute;
  top: -96px;
}

.block-relative {
  z-index: 1;
  position: relative;
}

.limit-1045 {
  max-width: 1045px;
}

.project-hero-overlay {
  background-color: #150f0b4d;
  position: absolute;
  inset: 0%;
}

.short-description {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

.project-image-wrap {
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.company-logo {
  z-index: 1;
  height: 40px;
  position: absolute;
}

.block-halves {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.halve-image {
  border-radius: 16px;
  width: 100%;
  overflow: hidden;
}

.project-wrap-next {
  color: var(--white);
  background-image: url('../images/Project-Image.webp');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 375px;
  position: relative;
}

.project-wrap-next:hover {
  opacity: .98;
}

.next-link {
  color: var(--white);
  display: flex;
}

.next-overlay {
  background-color: #150f0b99;
  position: absolute;
  inset: 0%;
}

.next-half-overlay {
  background-image: linear-gradient(to top, #150f0b, #150f0b00);
  width: 100%;
  height: 50%;
  position: absolute;
  inset: auto 0% 0%;
}

.about-image-wrap {
  border-radius: 16px;
  height: 540px;
  margin-top: -50px;
  position: relative;
  overflow: hidden;
}

.section-business {
  background-color: var(--black);
  color: var(--white);
  padding-top: 100px;
  padding-bottom: 160px;
}

.no-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.body-dark {
  background-color: var(--black);
  color: var(--white);
}

.image-block {
  border-radius: 16px;
  width: 100%;
  height: 480px;
  overflow: hidden;
}

.image-block.top-32 {
  margin-top: 32px;
}

.footer-single-wrap {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  align-items: center;
  display: flex;
}

.grid-thirds {
  grid-column-gap: 32px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr 1fr 1fr;
}

.team-image-wrap {
  border-radius: 16px;
  height: 520px;
  overflow: hidden;
}

.hero-bg {
  z-index: -1;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0% 0% auto auto;
}

.excellence-bg-right {
  width: 612px;
  position: absolute;
  inset: 0% 0% auto auto;
}

.excellence-bg-left {
  width: 574px;
  position: absolute;
  inset: auto auto 5% -13%;
}

.carousel-bg {
  z-index: 2;
  width: 515px;
  position: absolute;
  inset: -13% 0% auto auto;
}

.carousel-bg-2 {
  width: 394px;
  position: absolute;
  inset: auto auto 0% 0%;
}

.expandable-bottom {
  transform-origin: 50% 0;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.master-faqs {
  width: 100%;
  max-width: 755px;
}

.master-expandable {
  grid-row-gap: 40px;
  flex-direction: column;
  display: flex;
}

.expandable-top {
  justify-content: flex-start;
  align-items: center;
}

.expandable-single {
  padding-bottom: 40px;
}

.plus-expand-master {
  color: var(--black);
  flex: none;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: flex;
  position: relative;
}

.expandable-wrap {
  grid-column-gap: 85px;
  grid-row-gap: 85px;
  opacity: .3;
  cursor: pointer;
  border-bottom: 1px solid #150f0b66;
  align-items: flex-start;
  display: flex;
}

.block-faq {
  justify-content: flex-end;
  display: flex;
}

.faq-bg-2 {
  width: 1137px;
  position: absolute;
  inset: -23% auto auto 0%;
}

.space-120 {
  height: 120px;
}

.tradition-wrap {
  grid-column-gap: 110px;
  grid-row-gap: 110px;
  grid-template-rows: auto;
  grid-template-columns: 60% 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.tradition-image-wrap {
  border-radius: 16px;
  height: 670px;
  overflow: hidden;
}

.limit-317 {
  max-width: 317px;
}

.master-numbers {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  justify-content: space-between;
  display: flex;
}

.left-column {
  grid-column-gap: 185px;
  grid-row-gap: 185px;
  flex-direction: column;
  max-width: 550px;
  display: flex;
}

.right-column {
  justify-content: center;
  align-items: center;
  display: flex;
}

.numbers-grid {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-wrap: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  display: grid;
}

.numbers-card {
  width: 300px;
}

.accent {
  color: var(--accent);
}

.tab-link {
  opacity: .2;
  background-color: #0000;
  padding: 0;
}

.tab-link:hover {
  opacity: 1;
}

.tab-link.w--current {
  opacity: 1;
  background-color: #0000;
}

.tabs-menu {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.tabs {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: flex-start;
  display: flex;
}

.tab-item-wrap {
  color: var(--white);
  background-image: url('../images/Project-Image-1_1.webp');
  background-position: 50%;
  background-size: cover;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  max-width: 500px;
  height: 720px;
  padding: 32px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.tabs-content {
  margin-right: 100px;
  overflow: visible;
}

.project-info-wrap {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.about-hero-bg {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 0% 0% auto;
}

.about-bg-2 {
  width: 827px;
  position: absolute;
  top: -21%;
  left: 0%;
  right: 0%;
}

.numbers-bg {
  width: 490px;
  position: absolute;
  inset: auto auto 0% 0%;
}

.tradition-bg {
  width: 885px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 29% 18% 0% 0%;
}

.limit-740 {
  max-width: 740px;
}

.logos-overlay {
  z-index: 1;
  background-image: linear-gradient(270deg, #150f0b, #150f0b00 25%), linear-gradient(to right, #150f0b, #150f0b00 25%);
  position: absolute;
  inset: 0%;
}

.projects-wrap.projects-1 {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  justify-content: space-between;
  display: flex;
}

.projects-wrap.projects-2 {
  grid-column-gap: 144px;
  grid-row-gap: 144px;
  justify-content: center;
  margin-top: 186px;
  display: flex;
}

.projects-wrap.projects-3 {
  grid-column-gap: 144px;
  grid-row-gap: 144px;
  margin-top: 110px;
  display: flex;
}

.project-wrap {
  color: var(--white);
}

.project-wrap.project-1 {
  margin-bottom: 282px;
}

.project-wrap.project-2 {
  margin-top: 133px;
}

.project-wrap.project-3 {
  margin-top: -282px;
}

.project-wrap.project-5 {
  margin-bottom: 300px;
}

.opacity-50 {
  opacity: .5;
}

.project-image {
  position: relative;
}

.project-image.image-1 {
  align-items: flex-start;
  height: 418px;
  overflow: hidden;
}

.project-image.image-2 {
  height: 460px;
}

.limit-656 {
  max-width: 656px;
}

.limit-430 {
  max-width: 430px;
}

.project-overlay {
  background-color: var(--black);
  transform-origin: 50% 0;
  display: none;
  position: absolute;
  inset: 0%;
}

.arrow {
  width: 20px;
  margin-left: -20px;
}

.project-bg-1 {
  z-index: -1;
  width: 518px;
  position: absolute;
  inset: 20% -10% auto auto;
}

.project-bg-2 {
  z-index: -1;
  width: 380px;
  position: absolute;
  inset: 45% auto auto 0%;
}

.project-bg-3 {
  z-index: -1;
  width: 420px;
  position: absolute;
  inset: auto 0% 10% auto;
}

.block-shrink {
  width: 0;
  overflow: hidden;
}

.designer-link {
  color: var(--white);
  text-decoration: underline;
}

.cta-wrap {
  display: flex;
}

.underline-hover {
  background-color: #6fb0ff;
  position: absolute;
  inset: 0%;
}

.footer-overlay {
  z-index: 1;
  background-color: #150f0b99;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0%;
}

.image-shadows {
  box-shadow: inset 0 0 0 1px #ffffff40, inset 0 0 1px -1px #00000080;
}

.map-info-wrap {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  padding: 24px;
  display: flex;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.icon-lock {
  width: 100%;
  max-width: 240px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.cta-sales-details-minimize {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #000;
  background-color: #ebebeb;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
  display: flex;
}

.cta-sales-details-accent {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #fff;
  background-color: #2e53ec;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
  display: flex;
}

.icon-close-sales-info {
  width: 28px;
  height: 28px;
}

.master-bar-sales-details {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: block;
}

.grid-included {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
}

.mega-sales-info {
  color: var(--white);
  background-color: #000;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 100%;
  height: 95vh;
  padding-top: 64px;
  padding-bottom: 64px;
  display: none;
  position: absolute;
  inset: auto 0% 0%;
  overflow: scroll;
}

.icon-arrow-minimze-sales, .icon-arrow-read-more-sales {
  width: 20px;
  height: 20px;
}

.overlay-sales-details {
  background-color: #00000094;
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  inset: auto 0% 0%;
}

.icon-figma {
  width: 120px;
  height: 120px;
}

.cta-sales-info {
  color: #fff;
  background-color: #2e53ec;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

.image-sales-page {
  border: 1px solid #ffffff0f;
  border-radius: 8px;
  width: 100%;
}

.close-sales-info {
  z-index: 110;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  transition: background-color .2s;
  display: flex;
  position: sticky;
  inset: 0 40px auto auto;
}

.close-sales-info:hover {
  background-color: #d4d4d4;
}

.flex-cta-sales-info {
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  display: flex;
}

.image-included {
  width: 100%;
}

.icon-template-details {
  width: 20px;
  height: 20px;
}

.inside-bar-sales-details {
  background-color: #000;
  border: 1px solid #ffffff63;
  border-radius: 24px;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  display: flex;
}

.icon-logo-sales-details {
  border: 1px solid #424242;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.wrap-figma-content {
  grid-row-gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.link-template-details {
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  color: #000;
  background-color: #fafafa;
  border-top: 1px solid #b6b6b6;
  border-left: 1px solid #b6b6b6;
  border-right: 1px solid #b6b6b6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
  display: none;
  position: absolute;
  inset: auto 24px 0% auto;
}

.link-sales-details {
  color: #fff;
}

.left-bar-sales-details {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: var(--white);
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  display: flex;
}

.no-margins-sales-details {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
}

.included-card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  background-color: #f5f5f51a;
  border: 1px solid #fff3;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 340px;
  padding: 0;
  display: flex;
}

.included-card.figma-card {
  grid-column-gap: 56px;
  text-align: left;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 0;
  padding: 32px;
}

.single-sales-pages {
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.grid-fourths-sales-fourths {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.included-padding-wrap {
  grid-row-gap: 12px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px;
  display: flex;
}

.container-sales-details {
  width: 100%;
  max-width: 1400px;
  padding-left: 24px;
  padding-right: 24px;
}

.right-sales-details {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.h3-sales-page {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
}

.master-sales-pages {
  grid-row-gap: 80px;
  background-color: #181818;
  border-radius: 24px;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 32px;
  display: flex;
}

.more-power-card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: left;
  background-color: #181818;
  border: 1px solid #fff3;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px 24px;
  display: flex;
}

.center-heading-sales-details {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.master-sales-details {
  z-index: 10000;
  width: 100%;
  position: fixed;
  inset: auto 0% 0%;
}

.sales-card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #fff3;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  text-decoration: none;
  transition: transform .4s;
  display: flex;
}

.sales-card:hover {
  transform: translate(0, -4px);
}

.grid-thirds-sales-page {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-thirds-all-features {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
}

.landscape-video-wrap {
  border-radius: 16px;
  width: 100%;
  height: 634px;
  overflow: hidden;
}

.video-cover {
  z-index: 10;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 48px;
  }

  h3, .big-text {
    font-size: 36px;
  }

  .mega-h1 {
    font-size: 100px;
  }

  .main-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .right-column-template-details {
    padding: 0;
  }

  .left-column-template-details {
    display: none;
  }

  .columns-template-details {
    flex-direction: column;
  }

  .navbar {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .navlink.body-2 {
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .navlink.white {
    color: var(--black);
    margin-bottom: 24px;
    margin-left: 0;
  }

  .nav-menu {
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
  }

  .cta-secondary.desktop {
    display: none;
  }

  .cta-secondary.mobile {
    flex-direction: column;
    display: block;
  }

  .menu-button {
    background-color: #0000;
  }

  .menu-button.w--open {
    color: var(--black);
    background-color: #0000;
  }

  .nav-link-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .footer {
    padding-bottom: 190px;
  }

  .footer-image {
    width: 350px;
    height: 250px;
  }

  .footer-grid {
    grid-row-gap: 56px;
    grid-template-columns: auto auto auto;
  }

  .text-heading-3 {
    font-size: 36px;
  }

  .footer-brand-big {
    margin-bottom: 24px;
  }

  .hero-wrap {
    flex-direction: column;
  }

  .hero-info-wrap {
    align-items: flex-start;
  }

  .hero-text {
    text-align: left;
  }

  .services-wrap {
    grid-row-gap: 64px;
    flex-direction: column;
  }

  .text-heading-1 {
    font-size: 80px;
  }

  .experience-wrap {
    height: 450px;
  }

  .carousel-wrap {
    margin-top: -30px;
  }

  .carousel-image-wrap {
    height: 450px;
  }

  .carousel-button.prev-button {
    margin-left: 15%;
  }

  .carousel-button.next-button {
    margin-right: 15%;
  }

  .master-services {
    flex-direction: column;
  }

  .sticky-wrap {
    align-items: flex-start;
  }

  .sticky-block {
    position: static;
  }

  .clients-grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .text-heading-2 {
    font-size: 48px;
  }

  .client-image-wrap {
    width: 100%;
  }

  .master-moving-logos {
    grid-row-gap: 100px;
  }

  .logo-moving-logo {
    object-fit: contain;
    max-width: 180px;
    max-height: 70px;
  }

  ._404-heading {
    font-size: 260px;
  }

  .tile-changelog {
    padding-right: 4px;
  }

  .container-small {
    padding-left: 24px;
    padding-right: 24px;
  }

  .grid-halves {
    grid-row-gap: 56px;
    grid-template-columns: 1fr;
  }

  .policy-list {
    padding-left: 30px;
  }

  .faq-link-wrap {
    position: static;
    overflow: hidden;
  }

  .contact-wrap {
    max-width: none;
  }

  .field-wrap {
    width: 100%;
  }

  .contact-map {
    height: 700px;
  }

  .post-image-wrap {
    height: 400px;
  }

  .faq-bg {
    width: 100%;
    height: 800px;
  }

  .blog-hero-bg {
    width: 100%;
    height: 1000px;
    top: -109px;
  }

  .project-image-wrap {
    height: 500px;
  }

  .project-wrap-next {
    padding-bottom: 300px;
  }

  .grid-thirds {
    grid-template-columns: 1fr 1fr;
  }

  .team-image-wrap {
    height: 450px;
  }

  .hero-bg {
    width: 100%;
  }

  .excellence-bg-right {
    width: 300px;
    top: 30%;
  }

  .excellence-bg-left {
    width: 400px;
  }

  .carousel-bg {
    width: 400px;
    top: -10%;
  }

  .carousel-bg-2 {
    width: 250px;
  }

  .expandable-wrap {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }

  .block-faq {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .faq-bg-2 {
    width: 100%;
    display: none;
  }

  .tradition-wrap {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    grid-template-columns: 1fr 1fr;
  }

  .tradition-image-wrap {
    height: 550px;
  }

  .numbers-grid {
    grid-template-columns: auto;
    justify-content: center;
  }

  .tabs-menu {
    align-items: center;
  }

  .tabs {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .tabs-content {
    margin-right: 0;
  }

  .about-hero-bg {
    width: 100%;
  }

  .about-bg-2 {
    width: 100%;
    top: 0%;
  }

  .tradition-bg {
    width: 100%;
    right: 0%;
  }

  .projects-wrap.projects-1, .projects-wrap.projects-2, .projects-wrap.projects-3 {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .project-wrap.project-1 {
    margin-bottom: 140px;
  }

  .project-wrap.project-5 {
    margin-bottom: 0;
  }

  .project-bg-1 {
    width: 400px;
  }

  .project-bg-2, .project-bg-3 {
    width: 300px;
  }

  .grid-included {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .inside-bar-sales-details {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
  }

  .included-card {
    min-height: 260px;
  }

  .grid-fourths-sales-fourths {
    grid-template-columns: 1fr 1fr;
  }

  .sales-card {
    padding: 16px;
  }

  .grid-thirds-sales-page {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-thirds-all-features {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .landscape-video-wrap {
    height: 550px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 32px;
  }

  .big-text {
    font-size: 28px;
  }

  .mega-h1 {
    font-size: 80px;
  }

  .section.legal-section {
    padding-top: 120px;
  }

  .section.project-single-hero {
    padding-top: 200px;
  }

  .right-column-template-details {
    padding: 0;
  }

  .grid-colors {
    grid-template-columns: 1fr 1fr;
  }

  .left-column-template-details {
    display: none;
  }

  .columns-template-details {
    flex-direction: column;
  }

  .tile-template-details {
    padding: 24px;
  }

  .brand-link-navbar {
    padding-left: 0;
  }

  .footer-image {
    width: 300px;
    height: 200px;
  }

  .footer-grid {
    grid-column-gap: 48px;
    grid-template-columns: auto 1fr;
  }

  .text-heading-3 {
    font-size: 32px;
  }

  .footer-credits {
    text-align: center;
  }

  .footer-bg-right {
    width: 450px;
  }

  .text-heading-1 {
    font-size: 64px;
  }

  .experience-grid {
    grid-template-columns: 1fr 1fr;
  }

  .experience-wrap {
    height: 400px;
  }

  .carousel-wrap {
    margin-top: -20px;
  }

  .text-heading-4 {
    font-size: 28px;
  }

  .clients-grid {
    grid-template-columns: 1fr;
  }

  .text-heading-2 {
    font-size: 42px;
  }

  .client-image-wrap {
    height: 400px;
  }

  .master-moving-logos {
    grid-row-gap: 70px;
  }

  .master-moving-logos.case-study-page {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-moving-logo {
    max-width: 150px;
    max-height: 57px;
  }

  ._404-heading {
    font-size: 200px;
  }

  .tile-changelog {
    padding: 32px 24px;
  }

  .contact-info {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    flex-wrap: wrap;
  }

  .map {
    object-fit: cover;
    width: 100%;
  }

  .contact-map {
    height: 500px;
  }

  .grid-blogs {
    grid-template-columns: 1fr 1fr;
  }

  .post-image-wrap {
    height: 350px;
  }

  .project-image-wrap {
    height: 450px;
  }

  .block-halves {
    grid-template-columns: 1fr;
  }

  .project-wrap-next {
    padding-bottom: 250px;
  }

  .team-image-wrap {
    height: 400px;
  }

  .carousel-bg {
    display: none;
  }

  .tradition-wrap {
    grid-template-columns: 1fr;
  }

  .tradition-image-wrap {
    height: 450px;
  }

  .master-numbers {
    flex-direction: column;
  }

  .left-column {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
  }

  .right-column {
    justify-content: flex-start;
  }

  .numbers-grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .numbers-card {
    width: 200px;
  }

  .tab-item-wrap {
    height: 550px;
  }

  .about-bg-2 {
    top: 25%;
  }

  .logos-overlay {
    display: none;
  }

  .projects-wrap.projects-1 {
    grid-template-columns: 1fr;
  }

  .projects-wrap.projects-2, .projects-wrap.projects-3 {
    grid-template-columns: 1fr;
    margin-top: 48px;
  }

  .project-wrap.project-1 {
    margin-bottom: 0;
  }

  .project-wrap.project-2, .project-wrap.project-3 {
    margin-top: 0;
  }

  .grid-included {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrap-figma-content {
    text-align: center;
    align-items: center;
  }

  .included-card.figma-card {
    text-align: center;
    flex-direction: column;
  }

  .landscape-video-wrap {
    height: 450px;
  }
}

@media screen and (max-width: 479px) {
  h1, h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }

  .big-text {
    font-size: 26px;
  }

  .mega-h1 {
    font-size: 40px;
  }

  .main-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section.hero {
    padding-top: 80px;
  }

  .section.about-hero {
    padding-bottom: 0;
  }

  .section.projects-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .wrap-template-ui {
    padding: 16px;
  }

  .grid-buttons, .grid-colors {
    grid-template-columns: 1fr;
  }

  .navbar {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .brand-link-navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer {
    padding-bottom: 240px;
  }

  .footer-image {
    width: 200px;
    height: 150px;
  }

  .footer-grid {
    grid-template-columns: auto;
  }

  .text-heading-3 {
    font-size: 28px;
  }

  .footer-credits {
    flex-direction: column;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .text-heading-1 {
    font-size: 40px;
  }

  .experience-grid {
    grid-template-columns: 1fr;
  }

  .experience-wrap {
    height: 350px;
  }

  .carousel-wrap {
    margin-top: -10px;
  }

  .carousel-block {
    width: auto;
  }

  .carousel-image-wrap {
    height: 350px;
  }

  .text-heading-4 {
    font-size: 24px;
  }

  .carousel-button.prev-button {
    margin-left: 5%;
  }

  .carousel-button.next-button {
    margin-right: 5%;
  }

  .slide {
    margin-right: 20px;
  }

  .mask {
    width: auto;
  }

  .service-card {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    padding: 48px 24px 24px;
  }

  .text-heading-2 {
    font-size: 40px;
  }

  .client-image-wrap {
    height: 300px;
  }

  .master-moving-logos.case-study-page {
    max-width: 320px;
  }

  .move-moving-logo.third-moving, .single-moving-logo {
    grid-column-gap: 100px;
  }

  ._404-heading {
    font-size: 120px;
  }

  .container-small {
    padding-left: 16px;
    padding-right: 16px;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact-map {
    height: 400px;
  }

  .grid-blogs, .article-wrap {
    grid-template-columns: 1fr;
  }

  .project-image-wrap {
    height: 350px;
  }

  .company-logo {
    height: 30px;
  }

  .about-image-wrap {
    height: 350px;
  }

  .image-block.top-32 {
    height: 350px;
    margin-top: 0;
  }

  .grid-thirds {
    grid-template-columns: 1fr;
  }

  .team-image-wrap {
    height: 350px;
  }

  .excellence-bg-right {
    width: 250px;
  }

  .expandable-wrap {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .tradition-image-wrap {
    height: 350px;
  }

  .numbers-card {
    width: auto;
  }

  .tabs-menu {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .tab-item-wrap {
    height: 450px;
  }

  .project-info-wrap {
    bottom: 24px;
    left: 24px;
  }

  .about-bg-2 {
    top: 45%;
  }

  .numbers-bg {
    width: 100%;
  }

  .tradition-bg {
    top: 35%;
  }

  .project-bg-1, .project-bg-2, .project-bg-3 {
    width: 100%;
  }

  .map-info-wrap.image-shadows {
    padding: 16px;
    bottom: 16px;
    left: 16px;
    right: 16px;
  }

  .master-bar-sales-details {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .mega-sales-info {
    padding-top: 32px;
  }

  .close-sales-info {
    margin-top: 20px;
    right: 24px;
  }

  .inside-bar-sales-details {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .wrap-figma-content {
    font-size: 16px;
  }

  .link-template-details {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    left: 24px;
    right: 24px;
  }

  .left-bar-sales-details {
    text-align: center;
    flex-direction: column;
  }

  .included-card {
    padding: 24px;
  }

  .included-card.figma-card {
    font-size: 15px;
  }

  .grid-fourths-sales-fourths {
    grid-row-gap: 8px;
    grid-template-columns: 1fr;
  }

  .container-sales-details {
    padding-left: 12px;
    padding-right: 12px;
  }

  .right-sales-details {
    flex-wrap: wrap;
  }

  .master-sales-pages {
    padding: 18px;
  }

  .more-power-card {
    padding: 24px;
  }

  .sales-card {
    padding: 16px;
  }

  .landscape-video-wrap {
    height: 350px;
  }
}

#w-node-b8a7bc0b-e12f-d46f-1ebc-1599f4119d83-85c0941c, #w-node-_51e95b96-83a9-a092-7905-bf496962e80b-85c0941c, #w-node-_62f8b38c-304d-6674-cbe3-bbc96ba36ebd-85c0941c, #w-node-_365d280e-5a66-22f5-b04e-917eb0c759dc-85c0941c, #w-node-_5a12da1b-fc2c-d9d1-ee26-4e5d607666c0-85c0941c, #w-node-aad88537-1fa6-0c9a-d1b9-ad14bf216d6e-85c0941c, #w-node-c1694b0d-66b9-52b9-1608-2f6d622f7699-85c0941c, #w-node-cac7fe53-3c7b-4566-3277-7396ae6cdf62-ae6cdf41, #w-node-cac7fe53-3c7b-4566-3277-7396ae6cdf67-ae6cdf41, #w-node-cac7fe53-3c7b-4566-3277-7396ae6cdf6c-ae6cdf41 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-cac7fe53-3c7b-4566-3277-7396ae6cdf72-ae6cdf41 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-cac7fe53-3c7b-4566-3277-7396ae6cdfdd-ae6cdf41, #w-node-cac7fe53-3c7b-4566-3277-7396ae6cdfe3-ae6cdf41, #w-node-cac7fe53-3c7b-4566-3277-7396ae6cdfe9-ae6cdf41, #w-node-cac7fe53-3c7b-4566-3277-7396ae6cdfef-ae6cdf41, #w-node-cac7fe53-3c7b-4566-3277-7396ae6cdff5-ae6cdf41, #w-node-cac7fe53-3c7b-4566-3277-7396ae6cdffb-ae6cdf41, #w-node-cac7fe53-3c7b-4566-3277-7396ae6ce001-ae6cdf41, #w-node-cac7fe53-3c7b-4566-3277-7396ae6ce007-ae6cdf41, #w-node-_1449e41f-f2d8-85a5-5372-8be9eaaade9b-eaaade6b, #w-node-_1449e41f-f2d8-85a5-5372-8be9eaaadea4-eaaade6b, #w-node-_1449e41f-f2d8-85a5-5372-8be9eaaadeab-eaaade6b, #w-node-f8fb5242-3e9f-b39e-254f-56a80c0effa5-85c0941f, #w-node-_1c170442-f56b-5787-49d1-76738044ca6e-85c0941f, #w-node-_05776e9f-20de-df0e-ce42-b2a4dcc44e26-85c0941f, #w-node-c0f0063e-dae6-dbe7-803e-6bc85b69e4c1-85c0941f, #w-node-_126d3030-7eeb-d521-157a-59c589ff52a0-85c0941f, #w-node-_1d181fb5-09f0-d992-4406-bdbd4cdd5e2a-85c0941f, #w-node-fbc6f99a-2bc7-6880-c707-116a2bb207ea-85c0941f, #w-node-e9768b4a-e98c-5148-7ac1-b2b9299f6f8b-85c0941f, #w-node-_50143465-1787-4de1-937c-2dbb233ee4f3-85c0941f, #w-node-_9a4ac95e-e8c1-7a3f-daad-9b7f6d0d90dc-85c0941f, #w-node-c32b021a-b635-466a-2abe-b7f8632136a8-85c0941f, #w-node-_45ea5f72-2c44-1e15-d572-2b46fc5a5723-85c0941f, #w-node-_9607b7ce-8169-fdb5-421e-fcc8fc028a28-85c0941f, #w-node-_897fcb6a-568e-4d36-353b-7eb86a4b3585-85c0941f, #w-node-_890690bc-893d-445f-26b7-ef5c5caeba15-85c09424, #w-node-_2ff704b3-706c-57d4-dce3-dfb49078d96e-85c09424, #w-node-de20f2e5-a005-b6cf-7110-5393f5cf195c-85c09427, #w-node-_6608fd30-3b97-dc35-53d0-d95fbcaca04f-85c09427, #w-node-_45296fb2-5fd9-036f-f439-5a16c48a89cc-85c0942a, #w-node-_25c9bd5b-7475-12d0-25a6-a74908bb8a4e-85c0942a, #w-node-fc8caee0-ecb0-fd27-bffb-117ca4e866a1-85c0942c, #w-node-fc8caee0-ecb0-fd27-bffb-117ca4e866a5-85c0942c, #w-node-fc8caee0-ecb0-fd27-bffb-117ca4e866bf-85c0942c, #w-node-fc8caee0-ecb0-fd27-bffb-117ca4e866c4-85c0942c, #w-node-_78c244b5-9e7d-a809-0e47-a631f1bb64ad-85c0942c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-cac7fe53-3c7b-4566-3277-7396ae6cdf72-ae6cdf41 {
    grid-column: span 1 / span 1;
  }

  #w-node-_1449e41f-f2d8-85a5-5372-8be9eaaade9b-eaaade6b {
    justify-self: end;
  }

  #w-node-_1449e41f-f2d8-85a5-5372-8be9eaaadea4-eaaade6b {
    order: 9999;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_1449e41f-f2d8-85a5-5372-8be9eaaade9b-eaaade6b {
    justify-self: start;
  }

  #w-node-_1449e41f-f2d8-85a5-5372-8be9eaaadeab-eaaade6b {
    order: 9999;
  }
}


