<!doctype html>
<html
  data-wf-page="65a67b903d9dcb50369f7d32"
  data-wf-site="65a4fe0b170deb8195e7169a"
>
  <head>
    <meta charset="utf-8" />
    <title>Style guide | CRTFY - Webflow Ecommerce website template</title>
    <meta
      content="CRTFY is a premium, multi-layout Webflow Template designed for creative agencies and studios. It features a modern dark-themed design, as well as all the features you need to launch the website of your dreams."
      name="description"
    />
    <meta
      content="Style guide | CRTFY - Webflow Ecommerce website template"
      property="og:title"
    />
    <meta
      content="CRTFY is a premium, multi-layout Webflow Template designed for creative agencies and studios. It features a modern dark-themed design, as well as all the features you need to launch the website of your dreams."
      property="og:description"
    />
    <meta
      content="https://uploads-ssl.webflow.com/65a4fe0b170deb8195e7169a/65bcd043fd27166f30fd83ac_OG%2BSales-min.jpg"
      property="og:image"
    />
    <meta
      content="Style guide | CRTFY - Webflow Ecommerce website template"
      property="twitter:title"
    />
    <meta
      content="CRTFY is a premium, multi-layout Webflow Template designed for creative agencies and studios. It features a modern dark-themed design, as well as all the features you need to launch the website of your dreams."
      property="twitter:description"
    />
    <meta
      content="https://uploads-ssl.webflow.com/65a4fe0b170deb8195e7169a/65bcd043fd27166f30fd83ac_OG%2BSales-min.jpg"
      property="twitter:image"
    />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link href="../css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="../css/components.css" rel="stylesheet" type="text/css" />
    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link
      href="https://fonts.gstatic.com"
      rel="preconnect"
      crossorigin="anonymous"
    />
    <script src="../js/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: [
            "Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic",
            "Inter:100,200,300,regular,500,600,700,800,900",
          ],
        },
      });
    </script>
    <script type="text/javascript">
      !(function (o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        ((n.className += t + "js"),
          ("ontouchstart" in o ||
            (o.DocumentTouch && c instanceof DocumentTouch)) &&
            (n.className += t + "touch"));
      })(window, document);
    </script>
    <link
      href="../images/favicon.svg"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link href="../images/webclip.svg" rel="apple-touch-icon" />
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <div
      data-w-id="4c6900d5-84c0-782a-03ec-6a05892ef6b4"
      data-animation="default"
      data-collapse="medium"
      data-duration="400"
      data-easing="ease"
      data-easing2="ease"
      role="banner"
      class="navbar w-nav"
    >
      <div class="navigation-container">
        <a href="../index.html" class="brand-link-navbar w-nav-brand"
          ><img
            src="../images/CRTFY®.svg"
            loading="lazy"
            alt=""
            class="brand-navbar"
        /></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a href="../about.html" class="nav-link w-nav-link">ABOUT</a>
          <a href="../services.html" class="nav-link w-nav-link">SERVICES</a>
          <a href="../portfolio/portfolio-a.html" class="nav-link w-nav-link"
            >PROJECTS</a
          >
          <a href="/#pages" class="nav-link w-nav-link">All pages</a>
          <a href="../index.html" class="cta-main nav-cta w-button">Login</a>
        </nav>
        <div class="menu-wrap">
          <a
            href="https://byq.supply"
            target="_blank"
            class="cta-main nav-desktop-cta w-button"
            >Buy template</a
          >
          <div class="menu-button w-nav-button">
            <div class="menu-icon hamburger w-embed">
              <svg
                width="24"
                height="24"
                viewbox="0 0 24 24"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3 12H21"
                  stroke="#fff7eb"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M3 6H21"
                  stroke="#fff7eb"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M3 18H21"
                  stroke="#fff7eb"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </div>
            <div class="menu-icon close w-embed">
              <svg
                width="24"
                height="24"
                viewbox="0 0 24 24"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18 6L6 18"
                  stroke="#fff7eb"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M6 6L18 18"
                  stroke="#fff7eb"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section hero-template">
      <div class="w-layout-blockcontainer main-container w-container">
        <div class="wrap-heading-animation mg-bottom-24">
          <h1 class="h1-animation-one">Style</h1>
          <h1 class="h1-animation-two">guide</h1>
        </div>
        <div class="limit-680">
          <div class="subtitle">
            Take advantage of beautiful design and easily create your dream
            Agency Webflow website that will impress your visitors.
          </div>
        </div>
        <div class="flex-cta-left mg-top-48">
          <a
            href="https://byq.supply"
            target="_blank"
            class="cta-white w-button"
            >Buy Template</a
          >
        </div>
      </div>
      <div class="w-layout-blockcontainer main-container w-container"></div>
    </section>
    <div class="section">
      <div class="main-container w-container">
        <div class="columns-template-details w-row">
          <div class="left-column-template-details w-col w-col-4">
            <div class="card-template-navigation">
              <a href="#Typography" class="link-template-navigation"
                >Typography</a
              >
              <a href="#Colors" class="link-template-navigation">Colors</a>
              <a href="#Icons" class="link-template-navigation">Icons</a>
              <a href="#Fonts" class="link-template-navigation">Fonts</a>
              <a href="#Buttons" class="link-template-navigation">Buttons</a>
              <a href="#Tiles" class="link-template-navigation">Tiles</a>
            </div>
          </div>
          <div class="right-column-template-details w-col w-col-8">
            <div id="Typography" class="card-template-details typography-card">
              <h1>Heading 1<br />Aa Bb Cc</h1>
              <div class="text-h1">Text / H1</div>
              <div class="subtext-style-guide">
                Heading 1 - 115px / 110% (Poppins)
              </div>
              <div class="divider-typography"></div>
              <h2>Heading 2<br />Aa Bb Cc</h2>
              <div class="text-h2">Text /H2</div>
              <div class="subtext-style-guide">
                Heading 2 - 80px / 112% (Poppins)
              </div>
              <div class="divider-typography"></div>
              <h3>Heading 3<br />Aa Bb Cc</h3>
              <div class="text-h3">Text / H3</div>
              <div class="subtext-style-guide">
                Heading 3 - 48px / 133% (Poppins)
              </div>
              <div class="divider-typography"></div>
              <h4>Heading 4<br />Aa Bb Cc</h4>
              <div class="text-h4">Text / H4</div>
              <div class="subtext-style-guide">
                Heading 4 - 40px / 120% (Poppins)
              </div>
              <div class="divider-typography"></div>
              <h5>Heading 5<br />Aa Bb Cc</h5>
              <div class="text-h5">Text / H5</div>
              <div class="subtext-style-guide">
                Heading 5 - 32px / 130% (Poppins)
              </div>
              <div class="divider-typography"></div>
              <h6>Heading 6<br />Aa Bb Cc</h6>
              <div class="text-h6">Text / H6</div>
              <div class="subtext-style-guide">
                Heading 6 - 16px / 150% (Inter)
              </div>
              <div class="divider-typography"></div>
              <div class="text-h7">Text / H7</div>
              <div class="subtext-style-guide">
                Heading 7 - 16px / 150% (Inter)
              </div>
              <div class="divider-typography"></div>
              <p class="body-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                commodo diam libero vitae erat. Aenean faucibus nibh et justo
                cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                tristique posuere.
              </p>
              <div class="subtext-style-guide">
                Body 1 - 20px / 150% (Poppins)
              </div>
              <div class="divider-typography"></div>
              <div class="text-bold">Text / Bold</div>
            </div>
            <div id="Colors" class="card-template-details">
              <h2 class="template-h2">Colors</h2>
              <p>
                Cratify takes advantage of strong black and white contrast as
                well as vivid brand colors.
              </p>
              <div class="space-24"></div>
              <div class="w-layout-grid colors-grid-style-guide">
                <div
                  id="w-node-fc52e1d9-9f09-258f-8ce7-623edeff64bb-369f7d32"
                  class="color-wrap-style-guide"
                >
                  <div class="color color-one"></div>
                  <div class="subtext-style-guide">Black</div>
                </div>
                <div
                  id="w-node-fc52e1d9-9f09-258f-8ce7-623edeff64bf-369f7d32"
                  class="color-wrap-style-guide"
                >
                  <div class="color color-two"></div>
                  <div class="subtext-style-guide">Blue</div>
                </div>
                <div
                  id="w-node-fc52e1d9-9f09-258f-8ce7-623edeff64c7-369f7d32"
                  class="color-wrap-style-guide"
                >
                  <div class="color color-three"></div>
                  <div class="subtext-style-guide">White</div>
                </div>
                <div
                  id="w-node-_6ed3cb3f-7015-68b5-a2e9-09da02a0247e-369f7d32"
                  class="color-wrap-style-guide"
                >
                  <div class="color color-four"></div>
                  <div class="subtext-style-guide">White 25%</div>
                </div>
                <div
                  id="w-node-_96ce9fe1-bea8-2ca4-4e36-83fb6b9d4889-369f7d32"
                  class="color-wrap-style-guide"
                >
                  <div class="color colour-five"></div>
                  <div class="subtext-style-guide">Gradient 1</div>
                </div>
                <div
                  id="w-node-_34ac570e-2761-2673-49a3-7f3df81802ec-369f7d32"
                  class="color-wrap-style-guide"
                >
                  <div class="color colour-six"></div>
                  <div class="subtext-style-guide">Gradient 2</div>
                </div>
                <div
                  id="w-node-d556ac2c-fade-4956-e82e-4adfa1c72823-369f7d32"
                  class="color-wrap-style-guide"
                >
                  <div class="color colour-seven"></div>
                  <div class="subtext-style-guide">Gradient 3</div>
                </div>
              </div>
            </div>
            <div id="Icons" class="card-template-details">
              <h2 class="template-h2">Icons</h2>
              <p>
                All icons used in Cratify template come from an open source icon
                library -
                <a
                  href="https://remixicon.com/"
                  target="_blank"
                  class="underline-link"
                  >Remix Icons</a
                >
                and <a href="https://www.freepik.com/">Freepik</a> Meaning they
                are are free for personal and commercial use.
              </p>
              <div class="space-24"></div>
              <div class="w-layout-grid icons-grid-template">
                <img
                  src="../images/Icon-Small-1.svg"
                  loading="lazy"
                  id="w-node-_0ec5cbae-b3ce-acd3-e5c0-193b3072bf7a-369f7d32"
                  alt=""
                /><img
                  src="../images/Icon-Small.svg"
                  loading="lazy"
                  id="w-node-_8e23ccfb-1b1a-fe43-1cba-45bc7463e8dd-369f7d32"
                  alt=""
                /><img
                  src="../images/Icon-Small-2.svg"
                  loading="lazy"
                  id="w-node-_0cc165ce-168f-24ef-301a-2185531d4b50-369f7d32"
                  alt=""
                /><img
                  src="../images/Icon-Small-3.svg"
                  loading="lazy"
                  id="w-node-ae936ff3-5916-b2d5-41b1-093efb694674-369f7d32"
                  alt=""
                /><img
                  src="../images/Contact-Icon-4.svg"
                  loading="lazy"
                  id="w-node-f1ffd240-fcb7-d93e-8549-3b41b318d532-369f7d32"
                  alt=""
                /><img
                  src="../images/Contact-Icon.svg"
                  loading="lazy"
                  id="w-node-_5bf9e157-10ae-ca68-79c2-29378d4d077b-369f7d32"
                  alt=""
                /><img
                  src="../images/Contact-Icon-2.svg"
                  loading="lazy"
                  id="w-node-_035b5b14-abec-07ad-82eb-e980cd7cc0dd-369f7d32"
                  alt=""
                /><img
                  src="../images/About-Icon-3.svg"
                  loading="lazy"
                  id="w-node-f3d768ca-0cff-18e5-e93b-5e437bb22bfb-369f7d32"
                  alt=""
                /><img
                  src="../images/About-Icon.svg"
                  loading="lazy"
                  id="w-node-c636d75d-6e64-aa60-98de-db83c4c0e26e-369f7d32"
                  alt=""
                /><img
                  src="../images/About-Icon-1.svg"
                  loading="lazy"
                  id="w-node-b2d985bb-7e4c-3db7-0abe-73f4228b9d0a-369f7d32"
                  alt=""
                /><img
                  src="../images/About-Icon-2.svg"
                  loading="lazy"
                  id="w-node-_3f48b200-d402-14e0-baa2-b9edb3f2b6d0-369f7d32"
                  alt=""
                /><img
                  src="../images/Graphic-1.svg"
                  loading="lazy"
                  id="w-node-f67dc8cb-003c-f3af-fcbe-a13ff6c197f7-369f7d32"
                  alt=""
                /><img
                  src="../images/Graphic-4.svg"
                  loading="lazy"
                  id="w-node-_8cbcc715-331f-62a8-caf5-b60b405bbb5e-369f7d32"
                  alt=""
                /><img
                  src="../images/Graphic-2.svg"
                  loading="lazy"
                  id="w-node-_0e5e6e10-e00f-c326-0466-58035966e5e0-369f7d32"
                  alt=""
                /><img
                  src="../images/Graphic.svg"
                  loading="lazy"
                  id="w-node-f0e9da18-a28a-358b-7e4f-0aadca209820-369f7d32"
                  alt=""
                /><img
                  src="../images/Graphic-5.svg"
                  loading="lazy"
                  id="w-node-c10696df-6589-8882-8780-dd8cfab32aaf-369f7d32"
                  alt=""
                /><img
                  src="../images/Graphic-3.svg"
                  loading="lazy"
                  id="w-node-_9873b0bb-34c7-be78-e5cd-595417776376-369f7d32"
                  alt=""
                /><img
                  src="../images/Arrow-Long-1.svg"
                  loading="lazy"
                  id="w-node-_486645aa-edb4-0162-3bca-54b659241418-369f7d32"
                  alt=""
                /><img
                  src="../images/Quote.svg"
                  loading="lazy"
                  id="w-node-a6688a86-99dd-f825-591c-a4fcd26e8382-369f7d32"
                  alt=""
                /><img
                  src="../images/Arrow-Right-1.svg"
                  loading="lazy"
                  id="w-node-c24ce721-9832-16d4-6083-98b4095bb919-369f7d32"
                  alt=""
                /><img
                  src="../images/Arrow-Left-1.svg"
                  loading="lazy"
                  id="w-node-_3bbba612-4c6c-9739-6e1e-fe9884b76119-369f7d32"
                  alt=""
                /><img
                  src="../images/Arrow-Newsletter.svg"
                  loading="lazy"
                  id="w-node-_65481385-a8f3-8563-3095-9227f3ec909f-369f7d32"
                  alt=""
                />
              </div>
            </div>
            <div id="Fonts" class="card-template-details">
              <h2 class="template-h2">Fonts</h2>
              <p>
                Cratify Template is using two additional fonts, called Inter
                &amp; Poppins. They can be downloaded at
                <a href="https://fonts.google.com/" target="_blank"
                  >Google Fonts</a
                >
                and are 100% free for personal and commercial use.
              </p>
            </div>
            <div id="Buttons" class="card-template-details">
              <h2 class="template-h2">Buttons</h2>
              <div class="w-layout-grid buttons-grid-style-guide">
                <div
                  id="w-node-fc52e1d9-9f09-258f-8ce7-623edeff64e3-369f7d32"
                  class="button-wrap"
                >
                  <a href="#" class="cta-main w-button">Button Text</a>
                  <div class="subtext-style-guide">CTA Main</div>
                </div>
                <div
                  id="w-node-fc52e1d9-9f09-258f-8ce7-623edeff64e8-369f7d32"
                  class="button-wrap"
                >
                  <a href="#" class="cta-white w-button">Button Text</a>
                  <div class="subtext-style-guide">CTA / White</div>
                </div>
                <div
                  id="w-node-fc52e1d9-9f09-258f-8ce7-623edeff64ed-369f7d32"
                  class="button-wrap"
                >
                  <a href="#" class="cta-secondary w-button">Button Text</a>
                  <div class="subtext-style-guide">CTA Secondary</div>
                </div>
              </div>
            </div>
            <div id="Tiles" class="card-template-details">
              <h2 class="template-h2">Tiles</h2>
              <div class="w-layout-grid tiles-grid-style-guide">
                <div class="testimonial-tile-home-a">
                  <img
                    src="../images/Quote.svg"
                    loading="lazy"
                    alt=""
                    class="quote"
                  />
                  <p class="no-margins opacity-80">
                    Cratify&#x27;s team went above and beyond to deliver a
                    website that perfectly represents our brand. Their attention
                    to detail and creative vision truly impressed us as business
                    owners who need branding.
                  </p>
                  <div class="author-tile margin-top-4">
                    <div class="author-image-wrap">
                      <img
                        src="../images/Testimonial-Profile.webp"
                        loading="lazy"
                        alt=""
                        class="image-cover"
                      />
                    </div>
                    <div class="author-info">
                      <div class="text-h6">Jane Smith</div>
                      <div class="text-h7 opacity-80">Emporium &amp; Co.</div>
                    </div>
                  </div>
                </div>
                <div
                  id="w-node-_8d04eded-4324-c629-de8c-d7a2918e61a0-369f7d32"
                  class="process-card"
                >
                  <div class="process-circle"></div>
                  <div class="text-h1 text-blue opacity-25">01</div>
                  <div class="text-bold">Discovery &amp; Research</div>
                  <div class="text-h7 opacity-50">
                    We conduct research to gather insights, analyze competitors,
                    and identify trends.
                  </div>
                </div>
                <div
                  id="w-node-eabe3f9e-8591-4db0-9422-1dd3802c3ac5-369f7d32"
                  class="quality-card"
                >
                  <img
                    src="../images/Icon-Small.svg"
                    loading="lazy"
                    alt=""
                    class="icon-60"
                  />
                  <div class="quality-text-wrap">
                    <div class="text-bold">Innovative Solutions</div>
                    <div class="opacity-80">
                      We stay ahead of the curve with the latest industry
                      trends.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="footer-v1">
      <div class="footer-mask">
        <div class="w-layout-blockcontainer main-container w-container">
          <div class="footer-v1-master">
            <div class="title-wrap">
              <div class="text-h1">
                TAKE <span class="span-outline">YOUR BRAND</span> TO NEXT LEVEL
              </div>
            </div>
            <div class="footer-v1-wrap">
              <div class="newsletter-block w-form">
                <img
                  src="../images/CRTFY®-Home-A-1.svg"
                  loading="lazy"
                  alt=""
                  class="footer-v1-logo"
                />
                <form
                  id="wf-form-Email-Form-V1"
                  name="wf-form-Email-Form-V1"
                  data-name="Email Form V1"
                  method="get"
                  class="newsletter-v1"
                  data-wf-page-id="65a67b903d9dcb50369f7d32"
                  data-wf-element-id="c2c61335-1d85-306b-ab27-89e4960bbbd6"
                >
                  <div class="limit-297">
                    <div class="text-h5">
                      Subscribe to Our
                      <span class="text-blue">Monthly</span> Newsletter
                    </div>
                  </div>
                  <div class="block-relative">
                    <input
                      class="text-field-newsletter-v1 w-input"
                      maxlength="256"
                      name="Email-4"
                      data-name="Email 4"
                      placeholder="Enter your email address ..."
                      type="email"
                      id="Email-4"
                      required=""
                    /><input
                      type="submit"
                      data-wait=""
                      class="newsletter-v1-submit w-button"
                      value=""
                    />
                  </div>
                </form>
                <div class="success-v1 w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="error-message w-form-fail">
                  <div>
                    Oops! Something went wrong while submitting the form.
                  </div>
                </div>
              </div>
              <div class="footer-v1-info-wrap">
                <div class="w-layout-grid footer-column-thirds">
                  <div
                    id="w-node-c2c61335-1d85-306b-ab27-89e4960bbbe8-960bbbc9"
                    class="footer-column"
                  >
                    <div class="text-bold">Main pages</div>
                    <div class="footer-links">
                      <a href="../home/home-a.html" class="footer-link"
                        >Home A</a
                      >
                      <a href="../home/home-b.html" class="footer-link"
                        >Home B</a
                      >
                      <a href="../home/home-c.html" class="footer-link"
                        >Home C</a
                      >
                      <a
                        href="../portfolio/portfolio-a.html"
                        class="footer-link"
                        >Portfolio A</a
                      >
                      <a
                        href="../portfolio/portfolio-b.html"
                        class="footer-link"
                        >Portfolio B</a
                      >
                      <a
                        href="../portfolio/portfolio-c.html"
                        class="footer-link"
                        >Portfolio C</a
                      >
                    </div>
                  </div>
                  <div
                    id="w-node-c2c61335-1d85-306b-ab27-89e4960bbbf8-960bbbc9"
                    class="footer-column"
                  >
                    <div class="text-bold">Other</div>
                    <div class="footer-links">
                      <a href="../contact/contact-a.html" class="footer-link"
                        >Contact A</a
                      >
                      <a href="../contact/contact-b.html" class="footer-link"
                        >Contact B</a
                      >
                      <a href="../contact/contact-c.html" class="footer-link"
                        >Contact C</a
                      >
                      <a href="../about.html" class="footer-link">About</a>
                      <a href="../services.html" class="footer-link"
                        >Services</a
                      >
                      <a href="/#pages" class="footer-link">All pages</a>
                    </div>
                  </div>
                  <div
                    id="w-node-c2c61335-1d85-306b-ab27-89e4960bbc08-960bbbc9"
                    class="footer-column"
                  >
                    <div class="text-bold">Template</div>
                    <div class="footer-links">
                      <a href="../index.html" class="footer-link"
                        >Template home</a
                      >
                      <a
                        href="../template/style-guide.html"
                        aria-current="page"
                        class="footer-link w--current"
                        >Style guide</a
                      >
                      <a href="../template/licenses.html" class="footer-link"
                        >Licenses</a
                      >
                      <a href="../template/changelog.html" class="footer-link"
                        >Changelog</a
                      >
                      <a
                        href="https://byq.supply"
                        target="_blank"
                        class="footer-link"
                        >Buy template</a
                      >
                      <a
                        href="https://byq.supply"
                        target="_blank"
                        class="footer-link"
                        >Other templates</a
                      >
                    </div>
                  </div>
                </div>
                <div class="footer-v1-copyright">
                  <div class="text-h7 opacity-50">
                    Copyright © 2023. All rights reserved.
                  </div>
                  <div class="copyright-link">|</div>
                  <a href="#" class="copyright-link"
                    >Privacy Policy &amp; Terms of Condition</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        src="../images/About-A-Bg.webp"
        loading="lazy"
        alt=""
        class="footer-v1-bg-image"
      />
    </section>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.js" type="text/javascript"></script>
  </body>
</html>
